* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* overflow: hidden;а   */
    text-decoration: none;
    /* outline: none; */
}

.container .nav .left img {
    width: 25px;
    height: 25px;
}

/* body{
    position: relative;
} */
/* .wrapper{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
} */


.container {
    width: 100%;
    height: 100vh;
    /* background-color: #ccc; */

}

.container .nav {
    width: 100%;
    height: 5%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .nav .left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .nav .left ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    position: relative;
}

.container .nav .left li {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.container .nav .left li button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
}

.container .nav .left li button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.container .nav .center {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container .nav .center a {
    color: #337ab7;
}

.container .nav .center ul {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container .nav .center li {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid; */
    padding: 5px;
    position: relative;
}

.container .nav .center li::before {
    content: "|";
    /* display: block; */
    position: absolute;
    top: 1;
    right: 0;
    color: #bbbbbb;
    /* border-right:1px solid; */

}

.container .nav .center li button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
    padding: 5px;
}

.container .nav .center li button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}




.container .nav .right {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .nav .right img {
    width: 25px;
    height: 25px;
}


.container .nav .right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 100%;
}

.container .nav .right li {
    width: auto;
    height: 100%;
    position: relative;
    padding: 5px;

}

.container .nav .right li::before {
    content: "|";
    position: absolute;
    bottom: 1;
    right: 0;
    color: #687074;
}

.container .nav .right a {
    color: #687074;
}

.container .nav .right li button {
    max-width: auto;
    height: 100%;
    background-color: transparent;
    border: transparent;
}

.container .nav .right li button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.container .navbar {
    width: 100%;
    height: 8%;
    /* border: 1px solid; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    position: sticky;
    /* position: absolute; */
    top: 0px;
    z-index: 5;
    background-color: #fff;

}

.container .navbar::before {
    content: " ";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 8%;

}

.container .navbar .left {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    /* padding: 22px; */
    /* display: inline-block; */
    /* justify-content: center; */
    /* position: relative; */

}

.container .navbar .left a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container .navbar .left .rasm {
    width: 43px;
    height: 43px;
}

.container .navbar .left .text {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .navbar .left .text h2 {
    font-size: 10px
}


.container .navbar .center {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    /* position: relative; */
}

.container .navbar .center .dropbtn {
    background-color: white;
    color: #687074 !important;
    padding: 22px;
    font-size: 16px;
    border: none;
}

.container .navbar .center .dropdown {
    position: relative;
    display: inline-block;
    /* display: flex; */
    /* position: absolute; */
}

.container .navbar .center .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.container .navbar .center .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn a {
    color: #687074;
}

.container .navbar .center .dropdown-content a:hover {
    background-color: white;
    color: deepskyblue;
    z-index: 2;
}

.container .navbar .center .dropdown:hover .dropdown-content {
    display: block;
    background-color: deepskyblue;
    z-index: 2;
}

.container .navbar .center .dropdown:hover .dropbtn {
    background-color: deepskyblue;
    color: white;
    z-index: 2;
}

.btn {
    background-color: white;
    color: #687074;
    padding: 22px;
    font-size: 16px;
    border: none;
}

.btn a {
    color: #687074;
}

.btn:hover {
    background-color: deepskyblue;
    color: white;
}

.container .albom {
    position: relative;
    width: 100%;
    height: 85%;

    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    /* margin: 0;
        padding: 0; */
}

.container .albom .swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.container .albom .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.container .albom .swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .albom .swiper .swiper {
    margin-left: auto;
    margin-right: auto;
}

.container .albom .virtual {
    z-index: 3;
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 300px;
    height: 80px;
    background-color: transparent;
    font-size: 50px;
    border-radius: 20px;
    color: #fff;
}


.container .albom .virtual:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border: transparent;
    color: #fff;
    animation: anim .3s alternate linear;
}

@keyframes anim {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.container .albom .box {
    position: absolute;
    z-index: 3;
    width: 4%;
    height: 40%;
    /* background-color: aqua; */
    bottom: 350px;
    left: 50px;
    /* display: grid;
    grid-template-columns: 100px;
    grid-auto-rows: 60px;
    justify-content: center;
    align-items: center; */

}

.instagram {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .albom .box img {
    width: 50px;
    height: 50px;
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20%;
}

.container .news {
    width: 70%;
    height: 10%;
    /* background-color: aqua; */
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bir {
    width: 35%;
    height: 1%;
    background-color: blue;
    border-bottom: 1px solid;
}

.news_text {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_text h1 {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 23px;
    color: #5d5d5d;
}

.ikki {
    width: 35%;
    height: 1%;
    background-color: blue;
    border-bottom: 1px solid;
}



.last_news {
    width: 70%;
    height: 50%;
    /* background-color: aqua; */
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.child {
    width: 28%;
    height: 100%;
    /* background-color:blue ; */
    border: 1px solid gray;
    border-radius: 13px;
    transition: all .3s linear;
}

.top {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img {
    width: 100%;
}

/* .top:hover{
    background-color:rgba(0, 0, 0, 0.15);
} */
.top .img {
    width: 90%;
}


.bottom {
    width: 100%;
    height: 40%;
}

.bottom h1 {
    font-size: 19px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-family: sans-serif;
    font-weight: 500;

}

.bottom h2 {
    font-size: 17px;
    /* text-align:center; */
    padding-bottom: 40px;
    padding-left: 5px;
    font-family: sans-serif;
    font-weight: 500;

}

.batafsil {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    gap: 15%;
}

.batafsil button {
    width: 60px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid gray;
    background-color: #fff;

}

.batafsil button a {
    font-family: sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}

.child:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 2px 1px #bbbbbb;
}

.child:hover .top {
    background-color: rgba(0, 0, 0, 0.15);
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.child:hover .bottom h1 {
    color: #2c93d6;
}

.child:hover .bottom button {
    color: #fff;
    background-color: #2c93d6;
}

.container .barchasi {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .barchasi button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid gray;
    transition: all .3s linear;
}

.container .barchasi button a {
    color: #000;
}

.container .barchasi button:hover {
    background-color: #2c93d6;
    transform: scale(1.2);
    box-shadow: 0px 2px 5px 1px #bbbbbb;
}

.container .barchasi button:hover a {
    color: #fff;
}

.hoover {
    width: 70%;
    height: 40%;
    /* background-color: aqua; */
    margin-left: 15%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* gap: 20px; */
    padding-bottom: 80px;
    color: #aeaeae;

}

.hoover .hiver {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.bot {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.con {
    width: 20%;
    height: 100%;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 2px #bbbbbb;
    transition: all .3s linear;

}

.iicon {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con i {
    font-size: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.itext {
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 15px;
}

.con:hover {
    transform: scale(1.1);
}

.con:hover .iicon i {
    color: #2c93d6;
}

.conference {
    width: 70%;
    height: 50%;
    margin-left: 15%;
    border: 1px solid #687074;

}

.conference img {
    width: 100%;
    height: 100%;
}

.yopmoq {
    width: 70%;
    height: 60%;
    margin-left: 15%;
    /* background-color: #2c93d6; */
    position: relative;
}

.xizmat {
    width: 70%;
    height: 50%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.ust {
    width: 200px;
    height: 200px;
    /* border: 1px solid; */
    position: relative;
    transform: rotate(230deg);
}

.birinchi {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    /* transform: rotate(220deg); */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* z-index: 2;
    position: relative; */
    transition: all .3s linear;
}

.birinchi:hover {
    box-shadow: 5px 5px 2px 1px #2c93d6;
    transform: scale(1.1);
}

.birinchi:hover i {
    color: #2c93d6;
}

.birinchi:hover::after {
    color: #2c93d6;

}

.birinchi:hover::before {
    border-color: #2c93d6;

}


.birinchi i {
    font-size: 50px;
    color: #687074;
    transform: rotate(130deg);
}

.birinchi::after {
    content: "ELEKTRON KUTUBXONA";
    display: block;
    /* border: 1px solid; */
    /* border-bottom: 1px solid; */
    position: absolute;
    top: 100px;
    left: 120px;
    width: 50px;
    height: 50px;
    transform: rotate(130deg);
    color: #687074;
}

.birinchi::before {
    content: " ";
    display: block;
    /* border: 1px solid; */
    border-bottom: 2px solid #687074;
    position: absolute;
    top: 80px;
    left: 100px;
    width: 35px;
    height: 35px;
    transform: rotate(40deg);
    /* z-index: 1; */
}

.ikkinchi {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    /* transform: rotate(220deg); */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* z-index: 2;
    position: relative; */
    transition: all .3s linear;
}

.ikkinchi:hover {
    box-shadow: 5px 5px 2px 1px #2c93d6;
    transform: scale(1.1);
}

.ikkinchi:hover i {
    color: #2c93d6;
}

.ikkinchi:hover::after {
    color: #2c93d6;

}

.ikkinchi:hover::before {
    border-color: #2c93d6;

}


.ikkinchi i {
    font-size: 50px;
    color: #687074;
    transform: rotate(130deg);
}

.ikkinchi::after {
    content: "  ACM";
    display: block;
    /* border: 1px solid; */
    /* border-bottom: 1px solid; */
    position: absolute;
    top: 100px;
    left: 90px;
    width: 50px;
    height: 50px;
    transform: rotate(130deg);
    color: #687074;
}

.ikkinchi::before {
    content: " ";
    display: block;
    /* border: 1px solid; */
    border-bottom: 2px solid #687074;
    position: absolute;
    top: 80px;
    left: 100px;
    width: 35px;
    height: 35px;
    transform: rotate(40deg);
    /* z-index: 1; */
}

.uchinchi {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    /* transform: rotate(220deg); */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* z-index: 2;
    position: relative; */
    transition: all .3s linear;
}

.uchinchi:hover {
    box-shadow: 5px 5px 2px 1px #2c93d6;
    transform: scale(1.1);
}

.uchinchi:hover i {
    color: #2c93d6;
}

.uchinchi:hover::after {
    color: #2c93d6;

}

.uchinchi:hover::before {
    border-color: #2c93d6;

}


.uchinchi i {
    font-size: 50px;
    color: #687074;
    transform: rotate(130deg);
}

.uchinchi::after {
    content: "  UNISYS";
    display: block;
    /* border: 1px solid; */
    /* border-bottom: 1px solid; */
    position: absolute;
    top: 100px;
    left: 90px;
    width: 50px;
    height: 50px;
    transform: rotate(130deg);
    color: #687074;
}

.uchinchi::before {
    content: " ";
    display: block;
    /* border: 1px solid; */
    border-bottom: 2px solid #687074;
    position: absolute;
    top: 80px;
    left: 100px;
    width: 35px;
    height: 35px;
    transform: rotate(40deg);
    /* z-index: 1; */
}

.tortinchi {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    /* transform: rotate(220deg); */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* z-index: 2;
    position: relative; */
    transition: all .3s linear;
}

.tortinchi:hover {
    box-shadow: 5px 5px 2px 1px #2c93d6;
    transform: scale(1.1);
}

.tortinchi:hover i {
    color: #2c93d6;
}

.tortinchi:hover::after {
    color: #2c93d6;

}

.tortinchi:hover::before {
    border-color: #2c93d6;

}


.tortinchi i {
    font-size: 50px;
    color: #687074;
    transform: rotate(130deg);
}

.tortinchi::after {
    content: "  VIRTUAL QABULXONA";
    display: block;
    /* border: 1px solid; */
    /* border-bottom: 1px solid; */
    position: absolute;
    top: 100px;
    left: 120px;
    width: 50px;
    height: 50px;
    transform: rotate(130deg);
    color: #687074;
}

.tortinchi::before {
    content: " ";
    display: block;
    /* border: 1px solid; */
    border-bottom: 2px solid #687074;
    position: absolute;
    top: 80px;
    left: 100px;
    width: 35px;
    height: 35px;
    transform: rotate(40deg);
    /* z-index: 1; */
}



.xiznatpast{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}
.yop{
    position: absolute;
    width: 200px;
    height: 200px;
    /* border: 1px solid; */
    position: absolute;
    top: 220px;
    left: 230px;
    transform: rotate(50deg);

}
.alaval{
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    /* transform: rotate(220deg); */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* z-index: 2;
    position: relative; */
    transition: all .3s linear;
}
.alaval i{
    font-size: 50px;
    color: #687074;
    transform: rotate(310deg);
}
.alaval::after{
    content: " ONLAYN SHARTNOMA TO‘LOVI";
    display: block;
    /* border: 1px solid; */
    /* border-bottom: 1px solid; */
    position: absolute;
    top: 110px;
    left: 120px;
    width: 50px;
    height: 50px;
    transform: rotate(310deg);
    color: #687074;
}
.alaval::before{
    content: " ";
    display: block;
    /* border: 1px solid; */
    border-bottom: 2px solid #687074;
    position: absolute;
    top: 80px;
    left: 100px;
    width: 35px;
    height: 35px;
    transform: rotate(40deg);
    /* z-index: 1; */
}

.alaval:hover {
    box-shadow: 5px 5px 2px 1px #2c93d6;
    transform: scale(1.1);
}
.alaval:hover i {
    color: #2c93d6;
}

.alaval:hover::after {
    color: #2c93d6;

}

.alaval:hover::before {
    border-color: #2c93d6;

}







.yana{
    position: absolute;
    width: 200px;
    height: 200px;
    /* border: 1px solid; */
    position: absolute;
    top: 220px;
    left: 410px;
    transform: rotate(50deg);
}
.soniy{
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    /* transform: rotate(220deg); */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* z-index: 2;
    position: relative; */
    transition: all .3s linear;
}
.soniy i{
    font-size: 50px;
    color: #687074;
    transform: rotate(310deg);
}
.soniy::after{
    content: "UNITEST ";
    display: block;
    /* border: 1px solid; */
    /* border-bottom: 1px solid; */
    position: absolute;
    top: 110px;
    left: 120px;
    width: 50px;
    height: 50px;
    transform: rotate(310deg);
    color: #687074;
}
.soniy::before{
    content: " ";
    display: block;
    /* border: 1px solid; */
    border-bottom: 2px solid #687074;
    position: absolute;
    top: 80px;
    left: 100px;
    width: 35px;
    height: 35px;
    transform: rotate(40deg);
    /* z-index: 1; */
}
.soniy:hover {
    box-shadow: 5px 5px 2px 1px #2c93d6;
    transform: scale(1.1);
}
.soniy:hover i {
    color: #2c93d6;
}

.soniy:hover::after {
    color: #2c93d6;

}

.soniy:hover::before {
    border-color: #2c93d6;

}


.boyana {
    position: absolute;
    width: 200px;
    height: 200px;
    /* border: 1px solid; */
    position: absolute;
    top: 220px;
    left: 600px;
    transform: rotate(50deg);
}
.salasa{
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    /* transform: rotate(220deg); */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* z-index: 2;
    position: relative; */
    transition: all .3s linear;
}
.salasa i{
    font-size: 50px;
    color: #687074;
    transform: rotate(310deg);
}
.salasa::after{
    content: "MASOFAVIY TA’LIM ";
    display: block;
    /* border: 1px solid; */
    /* border-bottom: 1px solid; */
    position: absolute;
    top: 110px;
    left: 120px;
    width: 50px;
    height: 50px;
    transform: rotate(310deg);
    color: #687074;
}
.salasa::before{
    content: " ";
    display: block;
    /* border: 1px solid; */
    border-bottom: 2px solid #687074;
    position: absolute;
    top: 80px;
    left: 100px;
    width: 35px;
    height: 35px;
    transform: rotate(40deg);
    /* z-index: 1; */
}
.salasa:hover {
    box-shadow: 5px 5px 2px 1px #2c93d6;
    transform: scale(1.1);
}
.salasa:hover i {
    color: #2c93d6;
}

.salasa:hover::after {
    color: #2c93d6;

}

.salasa:hover::before {
    border-color: #2c93d6;

}
.oxiri{
    position: absolute;
    width: 200px;
    height: 200px;
    /* border: 1px solid; */
    position: absolute;
    top: 220px;
    left: 780px;
    transform: rotate(50deg);
}
.sittun{
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    /* transform: rotate(220deg); */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* z-index: 2;
    position: relative; */
    transition: all .3s linear;
}
.sittun i{
    font-size: 50px;
    color: #687074;
    transform: rotate(310deg);
}
.sittun::after{
    content: "ABITURIYENT-2022 ";
    display: block;
    /* border: 1px solid; */
    /* border-bottom: 1px solid; */
    position: absolute;
    top: 110px;
    left: 120px;
    width: 50px;
    height: 50px;
    transform: rotate(310deg);
    color: #687074;
}
.sittun::before{
    content: " ";
    display: block;
    /* border: 1px solid; */
    border-bottom: 2px solid #687074;
    position: absolute;
    top: 80px;
    left: 100px;
    width: 35px;
    height: 35px;
    transform: rotate(40deg);
    /* z-index: 1; */
}
.sittun:hover {
    box-shadow: 5px 5px 2px 1px #2c93d6;
    transform: scale(1.1);
}
.sittun:hover i {
    color: #2c93d6;
}

.sittun:hover::after {
    color: #2c93d6;

}

.sittun:hover::before {
    border-color: #2c93d6;

}


































.savol {
    width: 100%;
    height: 130%;
    /* padding-top: 50px; */
    position: relative;
    /* background-attachment:scroll; */

}

.savol .img {
    width: 100%;
    height: 100%;
    /* background-size: cover;
    background-attachment: fixed; */

}

.savol .img img {
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(20px); */
}


.wrap {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    position: absolute;
    top: 50px;
    left: 0;
    gap: 400px;
}

.wrap h2 {
    color: #fff;
}

.savol .cover {
    width: 100%;
    height: 20%;
    z-index: 7;
    position: absolute;
    top: 180px;
    left: 0;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.savol .cover .kopsavol {
    width: 45%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}

.savol .cover .kopsavol .kleft {
    width: 13%;
    height: 50%;
    /* background-color: green; */
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.savol .cover .kopsavol .kleft i {
    font-size: 50px;
    color: #fff;

}

.savol .cover .kopsavol .kright h3 {
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    transition: all .3s linear;

}

.savol .cover .kopsavol .kright h4 {
    padding: 10px 15px;
    font-size: 15px;
    color: #687074;
}

.savol .cover .kopsavol:hover .kleft {
    background-color: #2c93d6;
}

.savol .cover .kopsavol:hover .kright h3 {
    color: #2c93d6;
}

.another {
    width: 100%;
    height: 20%;
    z-index: 7;
    position: absolute;
    top: 350px;
    left: 0;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.second {
    width: 45%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}

.sleft {
    width: 13%;
    height: 50%;
    /* background-color: green; */
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.sleft i {
    font-size: 50px;
    color: #fff;
    padding: 10px;
}

.sright h3 {
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    transition: all .3s linear;
}

.sright h4 {
    padding: 10px 15px;
    font-size: 15px;
    color: #687074;
}

.second:hover .sleft {
    background-color: #2c93d6;

}

.second:hover .sright h3 {
    color: #2c93d6;

}

.onather {
    width: 100%;
    height: 20%;
    z-index: 7;
    position: absolute;
    top: 500px;
    left: 0;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.third {
    width: 45%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}

.tleft {
    width: 13%;
    height: 50%;
    /* background-color: green; */
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.tleft i {
    font-size: 50px;
    color: #fff;
    padding: 10px;
}

.tright h3 {
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    transition: all .3s linear;
}

.tright h4 {
    padding: 10px 15px;
    font-size: 15px;
    color: #687074;
}

.third:hover .tleft {
    background-color: #2c93d6;

}

.third:hover .tright h3 {
    color: #2c93d6;

}

.container .hamkor {
    width: 70%;
    height: 10%;
    /* background-color: aqua; */
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 300px; */
    /* position: absolute; */
    /* top: 550vh; */
    /* z-index: 1; */
}

.container .ham1 {
    width: 35%;
    height: 1%;
    background-color: blue;
    border-bottom: 1px solid;
}

.container .hamkor_text {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2c93d6; */
}

.container .hamkor_text h1 {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 23px;
    color: #5d5d5d;
}

.ham2 {
    width: 35%;
    height: 1%;
    background-color: blue;
    border-bottom: 1px solid;
}


.linya {
    width: 100%;
    height: 10%;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    top: 780px;
}

.after {
    width: 100%;
    height: 15%;
    /* background-color: aqua; */
    z-index: 7;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    top: 880px;

}

.box1 {
    width: 20%;
    height: 100%;
    /* background-color: blue; */

}

.btop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btop i {
    font-size: 70px;
    color: #fff;

}

.bbot {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.bbot h3 {
    font-size: 20px;
    color: #fff;
}

.bbot h4 {
    font-size: 20px;
    color: #fff;

}

/* 
.logos {
    width: 70%;
    height: 30%;
    margin-left: 15%;
    background-color: aqua;
    position: absolute;
    top: 570vh;
} */
/* 
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
/* display: -webkit-box; */
/* display: -ms-flexbox; */
/* display: -webkit-flex; */
/* display: flex; */
/* -webkit-box-pack: center; */
/* -ms-flex-pack: center; */
/* -webkit-justify-content: center; */
/* justify-content: center; */
/* -webkit-box-align: center; */
/* -ms-flex-align: center; */
/* -webkit-align-items: center; */
/* align-items: center; */
/* } */
/* 
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}  */